@function text-color-picker($color) {
    @if(lightness($color) > 70) {
      @return rgb(255, 232, 181);
    } @else {
      @return rgb(0, 0, 0);
    }
  }
  
  
  @mixin set-bg($color) {
    background-color: $color;
    color: text-color-picker($color)
  }
  
  
  .box {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
  }